* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    background-color: #eeefe2;
    overflow-x: hidden;
    color: #898E4C;
}

h1 {text-align: center;}

ul, li {
    list-style-type: none;

}

a {
    text-decoration: none;
    color: inherit;
}


button li, i {
    cursor: pointer;
}

// mixins
@mixin divCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}

// default styles
h1 {

}

h2 {

}
.container {
    display: flex;
    flex-direction: column;
    
    //align-items: flex-start;
    .basket {
        
        //border: 2px solid red;
        h2 {

        }
        .basket-container {
            //border: 2px solid #898E4C;
            border-radius: 5px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 300px;
            .product-image {
                img {

                }
            }

            .name {
                h5 {

                }
                .product-name {

                }
            }

            .quantity {
                h5 {
                    
                }
                .product-quantity {

                }
            }

            .price {
                h5 {
                    
                }
                .product-price {
                    
                }
            }
        }

    }

    .total {
        h2 {

        }
        .total-container {
            .before-total {
                h5 {

                }
                .subtotal {

                }

                .shipping-container {
                    h5 {
                        
                    }
                    .shipping {

                    }
                }
            }
            .final-total {
                h5 {

                }
                .total {

                }
            }
            .checkout-container {
                .checkout-btn {

                }
            }
        }
    }
}


// Media Queries

// mobile screens
@media (min-width: 320px) {
    .container {
        //border: 2px solid red;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        //align-items: flex-start;
        .basket {
            margin-top: 2rem;
            //border: 2px solid red;
            h2 {
                text-align: center;
            }
            .basket-container {
                margin-top: 1.3rem;
                border: 2px solid #898E4C;
                border-radius: 5px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 300px;
                .product-image {
                    img {
    
                    }
                }
    
                .name {
                    h5 {
    
                    }
                    .product-name {
    
                    }
                }
    
                .quantity {
                    .quantity-details {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        .reduce, .increase {
                            cursor: pointer;
                            font-size: 1.2rem;
                            padding: .2rem;
                            border: 0;
                            color: #898E4C;
                        } 
                    }
                }
    
                .price {
                    h5 {
                        
                    }
                    .product-price {
                        
                    }
                }
            }
    
        }
    
        .total {
            margin-top: 2rem;
            h2 {
                text-align: center;
            }
            .total-container {
                margin-top: 1.3rem;
                border: 2px solid #898E4C;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .before-total {
                    
                    h5 {
    
                    }
                    .subtotal {
                        display: flex;
                        justify-content: space-between;
                    }
    
                    .shipping-container {
                        display: flex;
                        justify-content: space-between;
                        h5 {
                            
                        }
                        .shipping {

                        }
                    }
                }
                .final-total {
                    display: flex;
                    justify-content: space-between;
                    h5 {
                        
                    }
                    .total {
                        
                    }
                }
                .checkout-container {
                    
                    padding: 1rem 0 2rem 0;
                    display: flex;
                    justify-content: center;
                    .checkout-btn {
                        width: 300px;
                        border: 0;
                        border-radius: 5px;
                        background-color: #898E4C;
                        padding: .25rem;
                    }
                }
            }
        }
    }
}

// Tablets 
@media (min-width: 768px) {

}

// Laptops 
@media (min-width : 1024px) {

}

// Large laptops
@media (min-width : 1440px) {

}