* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


html {
    scroll-behavior: smooth;
    //overflow-x: hidden;
    background-color: #fffffa;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}


button {

    font-weight: bold;
    border-radius: 5px;
    border: 0;
    color: white;
    background-color: #dde6c0;
}

i {
    cursor: pointer;
}

// mixins
@mixin divCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}



// default styles
nav {
    display: flex;
    justify-content: space-between;
    .logo {

    }
    ul {
        display: flex;
        justify-content: space-around;
        li {

        }
        
    }

    .nav-buttons {
        ul {
            li {
                color: black;
            }
        }
    }
}



.title {
    text-align: center;
    color: #898E4C;
    
}

.categories {
    ul {
        
        li {
            cursor: pointer;
            &:hover {
                color: #96d5b5;
                transition: 0.3s all ease-in-out;
            }
        }


    }
}

.sorting {
    select {
        background: none;
        border: none;
        option {
            font-size: 1.2rem;
        }
    }
}



// product card
.products {
    .products-container {
        //border: 2px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        .product-card {
            //border: 2px solid red;

            border-radius: 10px;
            background-color: #dde6c0;
            display: flex;
            flex-direction: column;
            .icons {
                display: flex;
                justify-content: flex-end;
                padding: 0.5rem;
                i {
                    padding: 0.4rem;
                }
                .fa-heart {
        
                }
            }
        
            .product-image {
                @include divCentered();
                img {
                    
                }
            }
        
            .product-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0.5rem;
                gap: 1rem;
                h5 {
                    
                }
        
                .product-desc {
                    
                }
            }
        }
    }
}






// Media Queries

// mobile screens
@media (min-width: 320px) {
    nav {
        .logo {
        }
        ul {
            display: flex;
            justify-content: center;
            li {
    
            }
            
        }
    
        .nav-buttons {
            display: flex;
            justify-content: space-around;
        }
    }
    
    .title {
        margin-top: 3rem;
    }

    .categories {
        display: none;
        ul {
            li {

            }
        }
    }

    .sorting {
        display: flex;
        justify-content: flex-end;

        //border: 2px solid red;
        select {
            margin: 2rem;
            font-size: 1.2rem;
            option {
                
            }
        }
    }

    // Main code
    main {
        .main-container {
            .products {
                .products-container {
                    .product-card {

                    }
                }
            }
        }
    }
      
    // products
    .products {
        
        .products-container {
            //border: 2px solid red;
            //padding: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            // Product card
            .product-card {
                //border: 2px solid blue;
                width: 200px;
                .icons {
                    i {

                    }
                    .fa-heart {

                    }
                }

                .product-image {
                    img {
                        // width: 150px;
                        // height: 150px;
                    }
                }

                .product-info {
                    h5 {

                    }

                    .product-desc {
                        font-size: 1.2rem;

                    }

                    // about this product
                    .about-this-product {
                        background-color: blue;
                        color: black;
                        font-size: 2rem;
                    }
                }
            }
        }

    }



}

// Tablets 
@media (min-width : 768px) {
    nav {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1;
        width: 100%;
        .logo {
        }
        ul {
            
            li {
    
            }
            
        }
    
        .nav-buttons {
            ul {
                display: flex;
                justify-content: space-around;
                
                li {

                }
            }
        }
    }
    
    .title {
        margin-top: 3rem;
    }

    .categories {
        display: flex;
        ul {
            display: flex;
            justify-content: space-around;
            border: 2px solid red;
            li {
                font-size: 1.5rem;
            }
        }
    }

    .sorting {
        display: none;

        select {

            option {
                
            }
        }
    }

    // Main code
    main {
        .main-container {
            .products {
                .products-container {
                    margin-top: 2rem;
                    //border: 2px solid red;
                    display: grid;
                    grid-template-rows: repeat(2, 350px);
                    grid-template-columns: repeat(4, 250px);
                    place-content: center;
                    .product-card {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
      
    // products
    .products {
        
        .products-container {

            // Product card
            .product-card {

                .icons {
                    i {

                    }
                    .fa-heart {

                    }
                }

                .product-image {
                    img {

                    }
                }

                .product-info {
                    h5 {

                    }

                    .product-desc {

                    }

                    // about this product
                    .about-this-product {

                    }
                }
            }
        }

    }
}

// Laptops 
@media (width >= 1024px) {

}

// Large laptops
@media (width >= 1440px) {

}

.garlic-powder, .agushi, .chili, .ginger-powder, .curry-powder, 
.kebab-powder, .paprika, .kooko, .millet, .brown-rice, 
.guinea-corn, .chili, .dawadawa, .black-pepper, .cinammon-powder {
    height: 130px;
}

.date-syrup {
    height: 150px;
    width: 150px;
}

